* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

:root {
  --button-dark-blue: #007af5;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

input,
span {
  display: inline-block;
}

body {
  padding: 8px;
}

.onboarding {
  display: flex;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.onboarding .onboarding_title,
.onboarding .onboarding_subtitle {
  margin-bottom: 10px;
  font-weight: normal;
}
.onboarding .onboarding_title.large,
.onboarding .onboarding_subtitle.large {
  font-size: 32px;
  max-width: 550px;
  line-height: 1.5;
}
.onboarding .onboarding_subtitle {
  margin-bottom: 60px;
}
.onboarding form .form-group {
  margin-bottom: 10px;
}
.onboarding form .form-group label span {
  border: 1px solid #888;
  padding: 20px 30px;
  display: block;
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.onboarding form .form-group label + input {
  display: none;
}
.onboarding form .action_buttons {
  margin-top: 70px;
}
.onboarding form .action_buttons .continue,
.onboarding form .action_buttons .skip {
  cursor: pointer;
  width: 100%;
  padding: 20px 30px;
  display: block;
  color: #222;
  border-radius: 6px;
  border: 1px solid #888;
  margin-bottom: 10px;
  background: transparent;
}
.onboarding form .action_buttons .continue {
  background: var(--button-dark-blue);
  color: #fff;
  font-weight: 600;
}
.onboarding form .context-title {
  margin-top: 30px;
}
.onboarding form .context,
.onboarding form .context-title {
  max-width: 400px;
  margin-inline: auto;
  line-height: 1.4;
  margin-bottom: 10px;
}

.create_account {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  flex-direction: column;
}
.create_account .reset_field img {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  aspect-ratio: 1/1;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.create_account .reset_field .reset_message {
  font-size: 12px;
  color: var(--button-dark-blue);
  font-weight: 500;
  margin-bottom: 20px;
  max-width: 300px;
  text-align: center;
}
.create_account .logo_position {
  display: flex;
  align-items: center;
  min-width: 100%;
  padding: 40px;
  position: absolute;
  top: 0;
  left: 0;
}
.create_account .logo_position span {
  height: 20px;
  cursor: pointer;
}
.create_account .logo_position span:last-child {
  margin-left: auto;
}

.sign_in_link {
  color: var(--button-dark-blue);
  text-decoration: underline;
  font-weight: bold;
}

.title {
  margin-bottom: 45px;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
  max-width: 550px;
  line-height: 1.5;
}

form {
  border: 1px solid #888;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}
form .form-group {
  margin-bottom: 30px;
}
form .form-group .forgot_password {
  text-align: right;
  margin-top: 5px;
}
form .form-group .forgot_password a {
  color: var(--button-dark-blue);
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
}
form .form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}
form .form-group input {
  width: 100%;
  padding: 20px 30px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  width: 400px;
  border: 1px solid #888;
  display: block;
  outline: none;
}
form .form-group input:hover {
  border-color: var(--button-dark-blue);
}
form .action_buttons input {
  cursor: pointer;
  width: 100%;
  padding: 20px 30px;
  display: block;
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
}
form .action_buttons input[type=submit] {
  background: var(--button-dark-blue);
  color: #fff;
  font-weight: 600;
}

.action_buttons input {
  cursor: pointer;
  width: 400px;
  padding: 20px 30px;
  display: block;
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
}
.action_buttons input[type=submit] {
  background: var(--button-dark-blue);
  color: #fff;
  font-weight: 600;
}

/* DASHBOARD */
.main-container {
  display: grid;
  grid-template-columns: 256px 1fr;
  padding: 12px;
}

.content_area {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  padding: 12px 32px;
  gap: 40px;
}

.header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-inline: auto;
  padding: 32px;
}

.logo {
  width: 100%;
  max-width: 256px;
}

.login_button {
  padding: 16px 52px;
  display: inline-block;
  background-color: #007af5;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
}

.nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.aside {
  max-width: 256px;
  width: 100%;
  background-color: #f2f2f2;
  display: grid;
  border-radius: 8px;
  padding: 10px;
  gap: 50px;
  grid-template-rows: 1fr 1fr;
}

.active {
  background-color: #007af5;
  display: flex;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  padding: 12px 16px;
  gap: 8px;
  color: white;
  font-weight: 500;
}

.non-active {
  display: flex;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  padding: 12px 16px;
  gap: 8px;
  color: #3c3c3c;
  font-weight: 500;
}

.tips-section {
  display: flex;
  justify-content: space-between;
}

.sleep-lock_box {
  position: relative;
}

.arrow-box {
  background-color: #3c3c3c;
  padding: 10px;
  border-radius: 4px;
  display: block;
  position: absolute;
}

.lock-box {
  background-color: #3c3c3c;
  padding: 10px;
  border-radius: 4px;
  display: block;
}

.arrow-container {
  display: flex;
  gap: 10px;
}

.section_five {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 40px;
}

.cards {
  background: #fff;
  flex: 1;
  display: grid;
  min-height: 300px;
  overflow: hidden;
  gap: 16px;
}

.sleep-cards {
  background: #fff;
  flex: 1;
  min-height: 300px;
  overflow: hidden;
  gap: 6px;
}

.posts {
  margin: 0 auto;
  display: flex;
  gap: 24px;
}

.photo {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sleep_flex-container {
  display: flex;
  gap: 6px;
  justify-content: start;
}

.rating-container {
  display: flex;
  justify-content: space-between;
}

.star-rating {
  margin: 0;
  display: flex;
}

@media (min-width: 768px) {
  body {
    padding: 10px;
  }
}/*# sourceMappingURL=styles.css.map */